/* lembaga */
span.nama-lembaga{
  font-size: 30px;
}
.lembaga-deskripsi{
  padding: 20px 25px;
}
/* end lembaga  */
.dropdown-menu.columns-2 {
  min-width: 400px;
}
.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}
.multi-column-dropdown {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #333;
  white-space: normal;
}
.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #999;
}

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}

.mau-panel{
  padding: 0 10px;
}

#cover{
  margin-top: 100px;
}

.header-image img{
  padding-top: 50px;
  height: 500px;
}

.format-text p, .format-text ol{
  padding: 15px 0 35px;
  font-size: 16px;
  color: #999fb3;
}

.format-text h3{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.format-text li, .format-text p{
  padding: 0 0 15px;
}
.pad-top h3{
  padding-top: 15px;
}

.btn-top a{
  margin-top: 30px;
}

/* panel */
.panel-body ol li{
  padding: 7px 0;
}

.panel-heading-plus{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f0f0f0;
}
.panel-fix-height{
  box-shadow: 0 1px 1px rgba(0,0,0,.09);
  height: 350px;
}
.panel-heading-plus h3{
  font-size: 19px;
  font-weight: 400;
}
/* end panel */

/* Modal */
.modal-dialog{
  margin-top: 120px;
}
/* end modal */
